body{
	border-collapse: collapse;
	border-spacing: 0px 0px;
	background-color: #181818;
	color: #383838;
	word-spacing: 1px;
	font-size: 11px;
	font-family: arial;

}

a{
    color: #FFFFFF;
}
h3{
	font-size: 20px;
	padding-bottom: 1px;
	border-bottom: 1px dashed #C9C9C9;

}

.container{
	border:0px solid #ACACAC;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFFFFF;
	width:100%;
	padding-left: 25px;
	padding-right:25px; 
	padding-top:25px;
	padding-bottom:25px;
		

}
.content{

	 font: 12pt Helvetica, sans-serif;
	border:8px solid #DFDFDF;
	background-color: #F5F5F5;
	padding: 5px;
	font-size: 20px;
	margin-bottom: 20px;

}
.main_header{
	background-color: #DFDFDF;
	text-align: center;
	font-weight: bold;
	border-bottom:3px solid #C9C9C9;
}
.offNormal{
	background-color: #ae1f1f;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000000;
	width: 40%;
	padding:3px;
	display: none;
}
.normal{
	background-color: #166523;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000000;
	width: 40%;
	padding: 3px;
	display: none;

}